Server CCompnent
<p>{{ 'Servwer'}} with id {{serverId}} is {{getServerStatus()}} and {{lalal}}</p>

<!-- <input type="text" name="" id="" (input)=""> -->

<p [innerText]="allowNewSerwar"></p>
<p>{{allowNewSerwar  }}</p>

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="buttonClick()">Add Server</button>
<app-servers></app-servers>
<app-servers></app-servers>

<hr>
<hr>

<input type="text" name="" id="" class="form-control" (input)="liveOutput($event)">
<p [innerText]="serverE"></p>
